{
  "SqlServer": "VNLDBS002",
  "Database": "RGW",
  "UseIntegratedSecurity": true,
  "SqlUser": "",
  "SqlPassword": "",
  "PollSeconds": 10,
  "WorkerCount": 2,
  "MaxBatchPerPoll": 20,
  "DefaultTimeoutSeconds": 300,
  "AllowedRoots": [
    "D:\\RGW\\",
    "D:\\scheduledtasks\\"
  ],
  "LogToConsole": true
}